.App {
  display: flex;
  flex-direction: column;

  height: 100vh;

  overflow: hidden;


  align-items: center;
  justify-content: center;
  gap: 3rem;

  text-align: center;
}

@keyframes counter-change {
  35% {
    transform: scale(1.03);
  }
}

.counter {
  display: inline-block;
  margin: 0;
  padding: 3rem 2rem;

  min-width: 18rem;
  max-width: 93rem;
  overflow: hidden;

  background-color: #8ecae6;
  border-width: 0;
  border-radius: 3rem;

  font-size: 12rem;
  font-weight: 200;
  text-overflow: ellipsis;

  box-shadow: 0 1rem 1.8rem -1.3rem rgba(26, 26, 26, 0.5);

  animation-duration: 0.2s;
  animation-name: counter-change;
  animation-iteration-count: 1;
}

.counter-incrementor-container {
  display: flex;
  align-items: center;
  gap: 3rem;
}

input {
  padding: 0.4rem;

  background-color: var(--color-submit);

  font-size: 1.5rem;
  color: var(--color-white);

  border-radius: 1rem;
  border-width: 0;

  box-shadow: 0 1rem 1.8rem -1.3rem rgba(26, 26, 26, 0.5);

  transition: all 0.08s ease-in-out;
}

input:hover {
  filter: brightness(1.05);
  transform: scale(1.01);
}

input:active, input:focus {
  outline: none;
  border-width: 0;
  transform: scale(1);
}

::placeholder {
  color: var(--color-white);
  opacity: 0.7;
}

::selection {
  background: rgba(255, 255, 255, 0.3);
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.bottom-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.form-container {
  display: flex;
  gap: 0.5rem
}

button {
  padding: 0.8rem;
  border-radius: 1rem;
  border-width: 0;

  min-width: 5rem;
  min-height: 4.4rem;

  font-size: 1.5rem;
  color: var(--color-white);

  background-color: var(--color-action);
  box-shadow: 0 1rem 1.8rem -1.3rem rgba(26, 26, 26, 0.5);

  transition: all 0.08s ease-in-out;
}

button:hover {
  transform: scale(1.02);
  filter: brightness(1.1);
}

button:active {
  transform: scale(0.98);
}

.danger {
  background-color: var(--color-danger);
}

.submit {
  background-color: var(--color-submit);
}