body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  /* Button colors */
  --color-danger: #ffffff40;
  --color-submit: #ffffff40;
  --color-action: #ffffff40;
  --color-counter: #ffffff20;
  
  /* Text colors */
  --color-text: #ffffff;

  /* Styles */
  background-color: #4c52c780;
  color: var(--color-text);

  user-select: none;
}